p{
    font-family:Consolas;
    font-size:20px;
    color:#0094ff;
    
}
p:first-line{
    line-height:50px;
    font-weight:700;
}
p:first-letter{
    font-family:'Edwardian Script ITC';
    font-size:200%;
}