@font-face {
    font-family: Helvetica-Condensed-Light;
    src: url(Helvetica-Condensed-Light.otf);
}

.main{
background-color:#EEEEEE;
width:500px;
border-radius:10px;
}
h1{
    font-size:18px;
    font-family: Helvetica-Condensed-Light;
    font-weight:100;
    padding-left:15px;
    padding-top:20px;
}
.in{
    border: 1px solid gray;
    background-color:white;
    margin-left:15px;
    margin-right:15px;
    margin-top:40px;
    padding:15px;
    height:108px;
    
}
span{
    font-weight:700;
}
.text{
    width:240px;
    display:inline-block;
    font-family:Arial;
    font-size:16px;
   
}
img{
    display:inline-block;
    float:left;
    margin-right:20px;
    border:1px solid gray;
}
.text p{
    margin-top:0;
}
button.listen{
    background-image:url('button.png');
    background-repeat:repeat-y;
    color:white;
    width:85px;
    height:27px;
    border:2px outset #d11919;
    border-left:none;
    border-top:2px solid #ff6c6c;
    font-size:12px;
    padding-left:15px;
}
button.add {
background-image:url('button.png');
    background-repeat:repeat;
    color:white;
    width:55px;
    height:27px;
    border:2px outset #d11919;
    border-left:none;
    border-top:2px solid #ff6c6c;
    font-size:12px;
    padding-left:20px;
}
.buttons {
    float:right;
    margin-top:10px;
}
.text.text2,.text.text3{
    font-size:15px;
}