body{
    background-color:#A9A9A9;
}
 body>header{
     text-align:center;
     font-size:25px;
     color:white;
 }
 article>header{
     color:white;
     font-size:26px;
 }
 li>a{
     text-align:center;
     color:white;
     font-size:27px;
     font-weight:600;
 }
 li>a:nth-child(2n+1),li>a:nth-child(2n){
     text-decoration:none;
 }
 ul>li:last-child{
     text-decoration:underline;
 }
 .current{
     background-color:#D3D3D3;
 }
 p{
     font-size:20px
 }
 footer>p{
     font-size:15px;
 }
 p>a{
     text-decoration:none;
     color:black;
 }
 body>footer{
     text-align:center;
     font-size:20px;
 }
 li{
     list-style-type: none;
 }