body {
  background: #d091fb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #d091fb 0%, #9320f0 17%, #9215f2 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d091fb), color-stop(17%, #9320f0), color-stop(100%, #9215f2));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d091fb 0%, #9320f0 17%, #9215f2 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d091fb 0%, #9320f0 17%, #9215f2 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d091fb 0%, #9320f0 17%, #9215f2 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #d091fb 0%, #9320f0 17%, #9215f2 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d091fb', endColorstr='@endColor', GradientType=0);
  /* IE6-9 */
  color: white;
  font: 14px normal Arial;
}
body img {
  width: 70%;
}
#header-container {
  display: inline-block;
  width: 100%;
}
#logo-container {
  display: inline-block;
}
#reg-form-container {
  display: inline-block;
  float: right;
  margin-right: 50px;
  margin-top: 15px;
}
input[type=text],
input[type=password] {
  background-color: #b35ef3;
  border-radius: 10px;
  width: 130px;
  border: 1px solid #603382;
  margin-bottom: 10px;
}
input[type=password] {
  margin-left: 5px;
}
label {
  color: #fff;
}
button {
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
  border: 1px solid #603382;
  border-style: outset;
  border-radius: 10px;
  padding: 5px 8px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
}
header > nav {
  margin-left: 20px;
}
#main-nav-list > li {
  display: inline-block;
  margin-right: 15px;
}
#main-nav-list > li a {
  color: #fff;
  text-decoration: none;
}
ul#main-nav-list ul {
  display: none;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  padding: 0;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
ul#main-nav-list ul li {
  padding: 5px 10px 5px 10px;
}
ul#main-nav-list ul li:hover {
  border-bottom: 3px solid purple;
  background-color: rgba(255, 255, 255, 0.8);
}
ul#main-nav-list li:hover > ul {
  display: block;
  position: absolute;
}
#main-nav-list > li:nth-child(2) > ul > li > a {
  color: black;
  font-size: 1.2em;
}
#main-nav-list {
  border: 2px solid #4F0B83;
  border-radius: 10px;
  padding: 10px;
  width: 70%;
}
section {
  float: left;
  display: inline-block;
  width: 65%;
}
section article {
  border: 2px solid #4F0B83;
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}
section article a {
  color: #BA61F4;
  text-decoration: none;
}
section article a:hover {
  text-decoration: underline;
}
section footer {
  text-align: right;
}
aside {
  display: inline-block;
  width: 33%;
  margin-bottom: 180px;
}
aside a {
  color: #BA61F4;
  text-decoration: none;
}
aside a:hover {
  text-decoration: underline;
}
aside h2 {
  font-size: 16px;
}
aside > ul > li {
  border: 2px solid #4F0B83;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  list-style-type: none;
}
aside > ul > li ul li {
  list-style-image: url('images/li-dot.png');
}
aside > ul {
  margin-top: 40px;
  padding-left: 10px;
}
footer {
  margin: 0 auto;
  display: block;
  position: relative;
  text-align: center;
}
/*# sourceMappingURL=ForumPost.css.map */